@page "/"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<PageTitle>FinLens</PageTitle>

<h1>Welcome to FinLens</h1>
<p>Use the <a href="/upload" class="nav-link" style="display:inline">Upload</a> link in the nav bar to upload a financial document and start an analysis.</p>
